<div class="site-about">
  <div class="body-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading" >Зарегистрируйтесь на сайте</div>
            <div class="panel-body">
              <div class="form-group">
                <label>Ваше имя</label>
                <input class="form-control" type="text" placeholder="Имя" #username/>
              </div><div class="form-group">
                <label>E-mail</label>
                <input class="form-control" type="email" placeholder="email" #email/>
              </div>
              <div class="form-group">
                <label>Пароль</label>
                <input class="form-control"placeholder="Пароль" #password/>
              </div>
              <button (click)="add(username.value, email.value, password.value); username.value=''; email.value=''; password.value='';" class="btn btn-primary" >Зарегистрироваться</button>
              <a (click)="goBack();" class="btn btn-success">Назад</a>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
